<script defer src="/scripts/likes.js"></script>
<h1>Welcome!</h1>

<div class="img-layout">
  {{#each images}}
  <div class="card">
    <div class="card-image">
      <img class="img-uploded" src="/uploads/{{this.filename}}">
      <label class="label-like">{{this.likes.length}}</label>
      {{#if ../userId}}
      <button class="btn-like" data-name="{{this.filename}}"> ❤</button>
      {{/if}}
      <div class="card-action">
        <a href="/card/{{this.filename}}">Comments</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
