<h1>Welcome {{username}}</h1>
<h4><a href="/user/upload">Upload new images</a></h4>

<br>
<div class="img-layout">
{{#each userImages}}
<div class="card-image">
  <img class="img-uploded" src="/uploads/{{this}}">
</div>
{{/each}}
</div>
