<script defer src="/scripts/app.js"></script>

<h1>Welcome {{username}}</h1>


<h1>Files Upload</h1>
{{#if msg}}
{{msg}}
{{/if}}
<form action="/user" method="POST" enctype="multipart/form-data" name="uploadForm">
  <div class="file-field input-field">
    <div class="btn grey">
      <span>Files</span>
      <input name="myImage" type="file" multiple="multiple" id="files-input" accept=".png,.jpg,.gif">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
<br>

<div class="card-image img-layout" id="user-images">
  {{#each userImages}}
  <div class="img-container">
  <img class="img-uploded card-image responsive-img" src="/uploads/{{this}}">
  <button class="waves-effect waves-light btn" data-name="{{this}}">удалить</button>
  </div>
  {{/each}}
</div>
