.img-layout {
  display: grid;

  grid-column-gap: 15px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.img-uploded {
  max-height: 300px;
  max-width: 400px;
  min-height: 200px;
  min-width: 200px;
}
